body {


}

.content-table {
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
        }
input.aspNetDisabled {

    margin-top: 0;
    border-radius: 5px 5px 0 0;
    background: #10221b;
    color: #fff;
    padding: 0.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.0rem;
}
input#ContentPlaceHolderWebHocThem_ucThoiKhoaBieu_btnRegister {
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    background: #10221b;
    color: #fff;
    padding: 0.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.0rem;
}
div#ContentPlaceHolderWebHocThem_ucManage_Panel2 {
    background: #eee;
}
div#ContentPlaceHolderWebHocThem_ucThoiKhoaBieu_themTKB {
    background: #eee;
}
div#ContentPlaceHolderWebHocThem_ucNangCapTaiKhoan_Panel3 {
    background: #eee;
}
input#ContentPlaceHolderWebHocThem_ucNangCapTaiKhoan_btnRegister {
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    background: #10221b;
    color: #fff;
    padding: 0.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.0rem;
}
input#ContentPlaceHolderWebHocThem_ucManage_btnSave {
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    background: #10221b;
    color: #fff;
    padding: 0.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.0rem;
}